html{box-sizing: border-box;}
*{ margin: 0px;    padding: 0px; box-sizing: inherit;}
body{}
/*Cabecera*/
.head{
  color: white;
  font-size: 20px;
  background-color: black;
  margin-bottom: 2em;
}
.head h1{
  padding: 0.3em;
}
.menu{
  margin-top: 3px;
  overflow: hidden;
}
.menu ul li{
  float:left;
  list-style: none;
  display: block;
  background-color: black;
}
.menu ul li a{
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.menu ul li:hover{
background-color: #eca023;
}

/*Texto Productos*/
.texteo{
    margin: 0 auto;
    overflow:hidden;
    width: 90%;
  }
  .texto{
    margin: 0 auto;
    float:left;
    width: 90%;
    padding: 1em;
    color: #fff;
    background-color: #0d0d0d;
  }
  .texto p{
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .image img{
    width: 450px;
    height: 450px;
  }

.texto span{
    color: #eca023;
}
.Download{
    width: 100px;
    height: 100px;
}
















/*Formulario Login*/
.contenedor{
    overflow: hidden;
}
.info{
  margin: 1em;
  float: left;
}
.nombre{
    text-align: left;
    padding: 1em;
    margin: 1em;
}
.info form{
    border: solid black;
    width: 650px;
    margin: 1em;
    padding: 1em;
}
.nombre h1 span{color: orangered; font-family: Verdana, Geneva, Tahoma, sans-serif;}


.labelColor{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}
.inputColor{
    border: solid gray 1px;
    width: 90%;
    height: 30px;
    margin: 5px;
}
.inputColor:hover{
    border: solid #00b8ff 1px;
}
.contraseña{
    margin-left: 5px;
    color: blue;
    font-weight: bold;
}
#recordarme{
    width: 17px;
    height: 17px;
}
#textoReco{
    font-size: 20px;
}
#botonSesion{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
}
#botonSesion:hover{
    background-color: #eca023;
}

.listaLocalidades{
    width: 90px;
    height: 30px;
    font-weight: bolder;
}

.tabla{
    padding: 1.8em;
}
table{
    font-size: 25px;
}



/*Footer*/
footer{
  background-color: #0d0d0d;
  padding: 1em;
}
.imagefooter{
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram,.twiter,.facebook, img{
  width: 40px;
  height: 40px;
  float: left;
  margin: 1em;
}
.spider{
  color: white;
  text-align: center;
  margin-top: 1em;
}
.spider a{
  color: #fff;
}
.spider h2{
  line-height: 30px;
}
